<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <title>Hello, world!</title>
</head>

<body>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1><img src="https://nalbam.com/static/logo/nodejs.png"></h1>
                <p id="drop-rate"></p>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/dropper.js"></script>

</body>

</html>
