<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css">
    <title>Hello, world!</title>
</head>
<body>

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1><img src="https://cdn.nalbam.com/logo/nodejs.png"></h1>
            <h3><%= host %></h3>
            <p><%= date %></p>

            <a href="#" class="btn btn-primary my-like"><i class="far fa-thumbs-up"></i> 0</a>
            <a href="#" class="btn btn-danger my-dislike"><i class="far fa-thumbs-down"></i> 0</a>
            </p>
        </div>
    </section>
</main>

<script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</body>
</html>
